@import './colors';
@import './typography';

body {
  text-align: center;
}

header {
  background-color: $heading-color;
  height: $heading-height;
  width: 100%;
}

h1 {
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
}

.explanation {
  font-family: $font-face;
  font-size: $explanation-font-size;
}

.login-logout {
  float: right;
}

.game-btn {
  font-size: 100px;
  height: 100%;
  width: 100%;
}


.title {
  color: $heading-font-color;
  float: left;
  font-family: $font-face;
  font-size: $heading-font-size;
  font-weight: bold;
  padding-left: 10px;
}

.game-sq {
  height: 150px;
}

.top-left-sq {
  border-bottom: $border-size $border-type $border-color;
  border-right:  $border-size $border-type $border-color;
}

.top-middle-sq {
  border-bottom: $border-size $border-type $border-color;
  border-right: $border-size $border-type $border-color;
}

.top-right-sq {
  border-bottom: $border-size $border-type $border-color;
}

.middle-left-sq {
  border-bottom: $border-size $border-type $border-color;
  border-right: $border-size $border-type $border-color;
}

.middle-middle-sq {
  border-bottom: $border-size $border-type $border-color;
  border-right: $border-size $border-type $border-color;
}

.middle-right-sq {
  border-bottom: $border-size $border-type $border-color;
}

.bottom-left-sq {
  border-right: $border-size $border-type $border-color;
}

.bottom-middle-sq {
  border-right: $border-size $border-type $border-color;
}

.turn-display {
  font-family: $font-face;
  font-size: $turn-display-font-size;
  margin-bottom: 100px;
  margin-top: 20px;
}

.game-selection {
  margin-top: 20px;
}

.my-btn-row {
  margin-top: 20px;
}

.my-hist-stats-row {
  height: 100px;
}

.my-his-stats-div {
  background-color: $hist-background-color;
  border-style: solid;
  height: 100%;
  margin-top: 30px;
}
